@use 'partials/nav';
@use 'partials/root';
@use 'partials/order';

.title {
  font: var(--title);
}
.head1 {
  font: var(--head1);
}
.head2 {
  font: var(--head2);
}
.head3 {
  font: var(--head3);
}
.head4 {
  font: var(--head4);
}
.head5 {
  font: var(--head5);
}
.labels {
  font: var(--label);
}
.paragraph {
  font: var(--paragraph);
}

.hide {
  display: none;
}

::placeholder {
  font: var(--head4);
}
form .explain {
  font: 0.8rem "proxima_novaregular", sans-serif;
}
